In [1]:
import pandas as pd

In [2]:
btc_prices = pd.read_csv("btc_price.csv")

In [3]:
btc_prices.head()

         Date  Close/Last  Volume     Open     High      Low
0  10/22/2023     30601.0     NaN  29906.2  30772.2  29891.4
1  10/21/2023     29895.3     NaN  29607.9  30057.2  29848.0
2  10/20/2023     29605.2     NaN  29243.2  29693.8  29469.1
3  10/19/2023     29168.2     NaN  28253.1  29383.2  28586.1
4  10/18/2023     28260.0     NaN  28519.4  28416.8  28170.2

In [4]:
spx_prices = pd.read_csv("spx_prices.csv")

In [12]:
spx_prices.head()

         Date  Close/Last     Open     High      Low
0  10/20/2023     4224.16  4273.85  4276.56  4223.03
1  10/19/2023     4278.00  4321.36  4339.54  4269.69
2  10/18/2023     4314.60  4357.35  4364.20  4303.84
3  10/17/2023     4373.20  4345.23  4393.57  4337.54
4  10/16/2023     4373.63  4342.37  4383.33  4342.37

In [ ]:
btc_prices = btc_prices['Close/Last']

In [8]:
btc_prices.head()

0    30601.0
1    29895.3
2    29605.2
3    29168.2
4    28260.0
Name: Close/Last, dtype: float64

In [10]:
btc_prices.shape

(1619,)

In [14]:
spx_prices = spx_prices['Close/Last']

In [15]:
spx_prices.head()

0    4224.16
1    4278.00
2    4314.60
3    4373.20
4    4373.63
Name: Close/Last, dtype: float64

In [16]:
spx_prices.shape

(1257,)

In [17]:
btc_price_delta = btc_prices.pct_change()

In [18]:
spx_price_delta = spx_prices.pct_change()

In [19]:
btc_price_delta.head()

0         NaN
1   -0.023061
2   -0.009704
3   -0.014761
4   -0.031137
Name: Close/Last, dtype: float64

In [20]:
spx_price_delta.head()

0         NaN
1    0.012746
2    0.008555
3    0.013582
4    0.000098
Name: Close/Last, dtype: float64